.btn{
  margin: 5px;
}
label{
  font-size: 2em;
}
.item
{
  margin:10px 0;
}
.complete{
  text-decoration: line-through;
}
.item-style{
  border: 1px solid;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #fff;
}
body{
  background: url("background.jpg");
}