.margin-top-5em{
    margin-top: 5em;
}
.margin-top-2em{
    margin-top: 2em;
}
.margin-top-1em{
    margin-top: 1em;
}
body{
    background: url("restaurant.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.color-white{
    color: #fff;
}
